.section-5{
    margin-bottom: 100px;
    * {
        box-sizing: border-box;
    }
      
    &__head{
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;
        font-size: 30px;
        color: #494f55;
        font-family: "Helvetica";
    }
    &__nav{
        height: 50px;
        background-color: #eeeeee;
        display: flex;
        overflow: hidden;
        &-months{
            width: 50%;
        }
        &-years{
            width: 50%;
        }
    }
    &__timeline{
        background: linear-gradient(#2e2b2e,#574a43,#897c75,#433731);
        position: relative;
        margin: 0 auto;
        height: 610px;
        overflow-y: auto;
        padding: 50px 50px 0 50px;
        &:after{
            content: none;
            position: absolute;
            width: 2px;
            background-color: white;
            top: 0;
            bottom: 0;
            left: 50%;
            height: 1220px;
        }
        .timeline-box{
            padding: 10px 50px;
            position: relative;
            background-color: inherit;
            width: 100%;
            &:before, &:after {
                content: none;
                position: absolute;
                transform: translateY(-50%);
                z-index: 1;
                top: 50%;
                border: 4px solid $color-white;
            }
            &:after{
                width: 50px;
                height: 50px;
                right: -30px;
                background-color: $color-white;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 20px;
                font-weight: bold;

            }
            &:before {
                height: 0;
                position: absolute;
                width: 0;
                right: 40px;
                // border: medium solid white;
            }
            
            .content {
                background-color: white;
                display: flex;
                max-width: 420px;
                height: 215px;
                width: 100%;
                min-width: 300px;
                &__image{
                    height: 215px;
                    width: 100%;
                    max-width: 180px;
                    min-width: 120px;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                &__item{
                    padding: 20px;
                    display: flex;
                    flex-direction: column;
                    &-text {
                        font-size: 14px;
                        line-height: 18px;
                        color: #2c292b;
                        font-family: "Helvetica";
                        &--title {
                            font-weight: bold;
                            display: block; 
                            display: -webkit-box;
                            -webkit-line-clamp: 2;
                            text-overflow: ellipsis;
                            -webkit-box-orient: vertical;
                            overflow:hidden;
                        }
                        &--description {
                            font-size: 12px;
                            margin-top: 10px;
                        }
                    }
                }
            }
            &--left {
                left: 0;
                &:before {
                    border-width: 10px 0 10px 10px;
                    border-color: transparent transparent transparent white;
                }
                .content {
                    margin-left: auto;
                    margin-right: auto;
                }
            }
            &--right {
                left: inherit;
                &:after {
                    left: -30px;
                }
                &:before {
                    left: 40px;
                    border-width: 10px 10px 10px 0;
                    border-color: transparent white transparent transparent;
                }
                .content {
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }
    @media screen and (min-width: 992px) {
        &__timeline {
            &:after {
                content: ' ',
            }
            .timeline-box {
                width: 50%;
                &:after {
                    content: attr(data-day);
                }
                &:before {
                    content: ' ';
                }
                &--right {
                    left: 50%;
                    .content {
                        margin-left: inherit;
                        margin-right: inherit;
                    } 
                }
                &--left {
                    .content {
                        margin-right: inherit;
                    }
                }
            }
        }
    }
}