.section-4{
  &__body{
    position: absolute;  
    background-color: #393d41;
    width: 100%;
  }
  &__item{
    position:relative;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 45px;
    color: white;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .wrapper{
    position: relative;
    text-align: center;
    &-slide{
      padding: 6px;
    }
  }
  
}