.section-2 {
    margin-top: -77px;
    &__wrapper{
        display: flex;
    }
    &__sidebar {
        max-width: 220px;
        .user-image {
            border-radius: 50%;
            padding: 10px;
            overflow: hidden;
            background-color: #fff;
            &__item {
                width: 100%;
            }
        } 
        .menu{ 
            &:before{
                content:' ';
                background: #777676;
                display: inline-block;
                position: absolute;
                left: 52px;
                width: 3px;
                height: 100%;
                z-index: 1;
            }
            list-style-type: none;
            position: relative;
            
            &__item{
                padding: 20px 0 20px 20px;
                &:before{
                    content: ' ';
                    background: white;
                    display: inline-block;
                    position: absolute;
                    border-radius: 60%;
                    border: 3px solid #0d0d0e;
                    left: 44px;
                    width: 13px;
                    height: 13px;
                    z-index: 2;
                }
                &:last-child {
                    padding-bottom: 0;
                }
                &--active {
                    background-color: #fff;
                    z-index: 2;
                    position: relative;
                    &:before {
                        background: #000;
                    }
                    + .menu__item {
                        padding: 0 0 20px 20px;
                    }
                }
                &-text{
                    margin-left: 60px;
                }
            }
          
        }
    }
    &__content {
        .content {
            &__title {
                font-size: 40px;
                color: #fff;
                padding-bottom: 35px;
                display: flex;
                align-items: center;
                strong {
                    &:after {
                        content: '|';
                        margin-left: 10px;
                        margin-right: 10px;
                    }
                }
                &--small {
                    font-size: 18px;
                   
                }
            }
            &__section-title {
                margin-top: 75px;
                margin-bottom: 35px;
                font-size: 60px;
                color: #494f55;
                &--bold {
                    font-weight: bold;
                }
            }
            &__footer{
                display: flex;
                margin-top: 20px;
                align-items: center;
                justify-content: space-between;
                .social-media {
                    display: flex;
                    background-color: white;  
                    &__item{
                        background-color: gray;
                        color: white;
                        padding: 5px;
                        &:not(:last-child) {
                            margin-right: 4px;
                        }
                    }
                }
            }
        }
    }
}
