.section-2 {
    margin-top: -77px;
    .user {
        display: flex;
        &__image {
            border-radius: 50%;
            max-width: 120px;
            padding: 10px;
            overflow: hidden;
            background-color: #fff;
            margin-right: 10px;
            &-item {
                width: 100%;
            }
        } 
        &__title {
            font-size: 40px;
            color: #fff;
            padding-top: 20px;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            strong {
                &:after {
                    content: '';
                }
            }
            &--small {
                font-size: 18px;
               
            }
        }
    }
    &__wrapper{
        display: flex;
        flex-direction: column;
    }
    &__sidebar {
        max-width: 220px;
        display: none;
        .menu{ 
            &:before{
                content:' ';
                background: #777676;
                display: inline-block;
                position: absolute;
                left: 52px;
                width: 3px;
                height: 100%;
                z-index: 1;
            }
            list-style-type: none;
            position: relative;
            
            &__item{
                padding: 20px 0 20px 20px;
                &:before{
                    content: ' ';
                    background: white;
                    display: inline-block;
                    position: absolute;
                    border-radius: 60%;
                    border: 3px solid #0d0d0e;
                    left: 44px;
                    width: 13px;
                    height: 13px;
                    z-index: 2;
                }
                &:last-child {
                    padding-bottom: 0;
                }
                &--active {
                    background-color: #fff;
                    z-index: 2;
                    position: relative;
                    &:before {
                        background: #000;
                    }
                    + .menu__item {
                        padding: 0 0 20px 20px;
                    }
                }
                &-text{
                    margin-left: 60px;
                }
            }
          
        }
    }
    &__content {
        .content {
           
            &__section-title {
                margin-bottom: 35px;
                font-size: 60px;
                color: #494f55;
                &--bold {
                    font-weight: bold;
                }
            }
            &__footer{
                display: flex;
                margin-top: 20px;
                align-items: center;
                justify-content: space-between;
                .social-media {
                    display: flex;
                    background-color: white;  
                    &__item{
                        background-color: gray;
                        color: white;
                        padding: 5px;
                        &:not(:last-child) {
                            margin-right: 4px;
                        }
                    }
                }
            }
        }
    }

    @media screen and (min-width: 992px) {
        .user {
            align-items: flex-start;
            &__image {
                max-width: 220px;
            } 
            &__title {
                flex-direction: row;
                align-items: center;
                strong {
                    &:after {
                        content: '|';
                        margin-left: 10px;
                        margin-right: 10px;
                    }
                }
            }
        }
        &__sidebar {
            display: block;
        }
        &__content {
            .content {
                margin-top: -75px;
            }
        }
    }
}
