.section-3{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    .header{
        display: flex;
        flex-direction: column;
        background-color: rgb(105, 105, 105);
        height: 100px;
        width: 100%;
        text-align: center;
        &__item{
            margin-top: 40px;
            color: white;
            
        }
        &__alt{
            display: flex;
            margin-left: 64%;
             margin-top: 10px;
        }
        &__alt-i{
            color: white;
            margin-right: 2px;
        }
        &__alt-b{
            color: white;
        }
    }
    .body{
        display: flex;
        flex-direction: column;
        background-color: rgb(54, 54, 54);
        width: 100%;
        height: 550px;
        &__item{
            color: white;
            text-align: center;
            margin-top: 20px;
        }
        &__icon{
            margin: auto;
            margin-top: 30px;
            .list{
                display:flex;
                color: white;
                text-align: center;
                width: 100%;
                &__item{
                    border: 1px solid white;
                    border-radius: 60%;
                    padding: 15px;
                    font-size: 44px;
                    margin: 82px;
                    margin-bottom: 15px;
                }
            }
        }
        &__article{
            margin: auto;
            margin-top: 10px;
            .text{
                display: flex;
                width: 100%;
                text-align: justify;
                &__item{
                    color: white;
                    font-weight: bold;
                    font-size: 24px;
                    text-align: justify;
                    margin: 0 80px;
                }
            }
        }
        &__article1{
            margin: auto;
            margin-top: 5px;
            .text{
                display: flex;
                width: 100%;
                &__item{
                    color: white;
                    margin: 0 80px;
                    text-align: justify;
                    font-size: 16px;
                }
            }
        }
        &__footer{
            margin: auto;
            display: flex;
            margin:40px;
            .base{
                display: flex;
                margin: auto;
                font-size: 30px;
                &__item{
                    color: gray;
                }
                &__item-u{
                    color: white;
                    margin-left: 4px;
                    text-decoration: underline;
                }
            }
        }
    }


}