.section-2 {
    margin-top: -77px;
    &__wrapper{
        display: flex;
    }
    &__sidebar {
        max-width: 220px;
        .user-image {
            border-radius: 50%;
            padding: 10px;
            overflow: hidden;
            background-color: #fff;
            &__item {
                width: 100%;
            }
        }
        .menu {
            &__item {
                &-text {

                }
            }

        }
    }
    &__content {
        .content {
            &__title {
                font-size: 40px;
                color: #fff;
                padding-bottom: 35px;
                display: flex;
                align-items: center;
                strong {
                    &:after {
                        content: '|';
                        margin-left: 10px;
                        margin-right: 10px;
                    }
                }
                &--small {
                    font-size: 18px;
                   
                }
            }
            &__section-title {
                margin-top: 75px;
                margin-bottom: 35px;
                font-size: 60px;
                color: #494f55;
                &--bold {
                    font-weight: bold;
                }
            }
            &__footer{
                .social-media {

                }
                .signature {

                } 
            }
        }
    }
}