.section-4{
  padding-bottom: 40px;
  background-image:url('~assets/img/Bg.png');
  &__body{
    position: absolute;  
    background-color: #393d41;
    width: 100%;
    height: 100%;
  }
  &__item{
    position:relative;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 45px;
    color: white;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
  }
  &__slider {
    &-item {
      img {
        display: inline !important;
        padding: 6px;
      }
    }
  }
  .wrapper{
    position: relative;
    text-align: center;
  }
  .slick-dots {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    position: relative;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    li {
      padding-right: 10px;
      padding-left: 10px;
      position: relative;
      button {
        border-radius: 50%;
        font-size: 0;
        cursor: pointer;
        height: 13px;
        width: 10px;
        background-color: transparent;
        border: 1px solid $color-white;
        outline: none;
      }
      &:before, &:after {
        content: '';
        width: 10px;
        height: 1px;
        background-color: $color-white;
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        transition: all 1s ease;
      }
      &:before {
        left: 0;
      }
      &:after {
        right: 0;
      }
      &.slick-active {
        button {
          background-color: $color-white;
          transition: all 1s ease;

        }
        &:before, &:after {
          width: 0;
          height: 0;
        }
        + li {
          &:before {
            width: 0;
            height: 0;
          }
        }
      }
      + li.slick-active {
        &:after {
          width: 0;
          height: 0;
        }
      }
      &:first-child {
        &:before {
          width: 0;
          height: 0;
        }
      }
      &:last-child {
        &:after {
          width: 0;
          height: 0;
        }
        &:before, &:after {
          content: none;
        }
        + li {
          &:before {
            content: none;
          }
        }
      }
      + li.slick-active {
        &:after {
          content: none;
        }
      }
      &:first-child {
        &:before {
          content: none;
        }
      }
      &:last-child {
        &:after {
          content: none;
        }
      }
      // &:after{
      //   content: '';
      //   width: 100%;
      //   height: 1px;
      //   background-color: $color-white;
      //   position: absolute;
      //   transform: translate(-50%, -50%);
      //   top: 50%;
      //   left: 50%;
      // }
    }
  }
}