.section-2 {
    margin-top: -77px;
    &__wrapper{
        display: flex;
    }
    &__bir{
            background: rgb(5, 5, 5);
            display: inline-block;
            position: absolute;
            border-radius: 60%;
            border: 3px solid #0d0d0e;
            margin-left:45px ;
            width: 13px;
            height: 13px;
            z-index: 400;
            &-text{
                margin-left: 33px;
            }
    }
    &__sidebar {
        max-width: 220px;
        .user-image {
            border-radius: 50%;
            padding: 10px;
            overflow: hidden;
            background-color: #fff;
            &__item {
                width: 100%;
            }
        }
        .menu{ 
            
            list-style-type: none;
            position: relative;
            
            &__item{
                margin: 20px 0;
                padding-left: 20px;
                &-text{
                    margin-left: 60px;
                }
            }

            &__item::before{
                content: ' ';
                background: white;
                display: inline-block;
                position: absolute;
                border-radius: 60%;
                border: 3px solid #0d0d0e;
                left: 44px;
                width: 13px;
                height: 13px;
                z-index: 400;
            }
        }
        .menu::before{
            content:' ';
            background: #777676;
            display: inline-block;
            position: absolute;
            left: 52px;
            width: 3px;
            height: 100%;
            z-index: 400;
        }
    }
    &__content {
        .content {
            &__title {
                font-size: 40px;
                color: #fff;
                padding-bottom: 35px;
                display: flex;
                align-items: center;
                strong {
                    &:after {
                        content: '|';
                        margin-left: 10px;
                        margin-right: 10px;
                    }
                }
                &--small {
                    font-size: 18px;
                   
                }
            }
            &__section-title {
                margin-top: 75px;
                margin-bottom: 35px;
                font-size: 60px;
                color: #494f55;
                &--bold {
                    font-weight: bold;
                }
            }
            &__footer{
                display: flex;
                flex-direction: row;
                margin:0 auto;
                align-items: baseline;
                .social-media {
                    display: flex;
                    background-color: white;  
                    &--bir{
                        background-color: gray;
                        color: white;
                        margin: 4px;
                        padding: 5px;
                         
                    }
                }
                .signature {
                    margin-left: 55%;
                    padding-top: 50px;
                   
                } 
            }
        }
    }
}
