.section-3{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    background-color: rgb(54, 54, 54);
    padding-bottom: 40px;
    &__header{
        &-wrapper {
            background-color: rgb(105, 105, 105);
        }
        display: flex;
        flex-direction: column;
        padding-top: 20px;
        padding-bottom: 20px;
        align-items: center;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        &-title{
            font-size: 18px;
            color: $color-white;
            padding-right: 100px;
            padding-left: 100px;
            font-style: italic;
        }
        &-author{
           font-size: 14px;
           align-self: flex-end;
           margin-top: 10px;
           color: #fff;
           strong {
               font-weight: bold;
           }
        }
    }
    &__skill{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 100px;
        &-title{
            color: $color-white;
            text-align: center;
            margin-top: 20px;
            font-size: 20px;
            margin-bottom: 75px;
        }
        .list{
            display:flex;
            color: $color-white;
            justify-content: space-between;
            width: 100%;
            &__item{
                display: flex;
                flex-direction: column;
                align-items: center;
                &-icon {
                    border-radius: 50%;
                    border: 1px solid $border-color-skills;
                    width: 152px;
                    height: 152px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 50px;
                    color: #fff;
                }
                &-name {
                    font-size: 18px;
                    font-weight: bold;
                    margin-top: 20px;
                }
                &-skill {
                    margin-top: 10px;
                    font-size: 14px;
                }
            }
        }
    }
    &__footer{
        margin-top: 40px;
        text-align:center;
        &-text {
            color: gray;
            font-size: 30px;
            &--underline {
                color: $color-white;
                text-decoration: underline;
            }
        }
       
    }
}