.wrapper {
    width: 100%;
    max-width: 960px;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
}
.col {
    padding-left: 10px;
    padding-right: 10px;
    flex-grow: 1;
    max-width: 100%;
    flex-basis: 0;
}

body {
    font-family: Helvetica, Arial, sans-serif
}