$color-yellow: yellow;
$color-green: green !default;
$color-white: #fff !default;
$color-red:red !default;
$color-blue:blue !default;
$color-purple:purple !default;
$color-orange:orange !default;
$color-grey: grey !default;
$color-black: black !default;
$color-brown: brown !default;
$color-turquoise: turquoise !default;
$color-pink:pink !default;

$border-color-skills: $color-green;